<template name="quickForm_autoflow">
    {{#autoForm qfAutoFormContext}}
        {{autoCloseGroups}}
        {{> afQuickFields quickFieldsAtts}}
        {{#if qfShouldRenderButton}}
            <div class="form-group">
                <div class="{{labelClass}}"></div>
                <div class="{{inputClass}}">
                    <button type="submit" {{submitButtonAtts}} id="autoflow-submit">
                        {{#with ../atts.buttonContent}}
                            {{this}}
                        {{else}}
                            Submit
                        {{/with}}
                    </button>
                </div>
            </div>
        {{/if}}
    {{/autoForm}}
</template>